@use 'lib';

a {
    color: lib.palette('rmit-red');
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.link {

    &--no-style {
        color: inherit;
        text-decoration: inherit;

        &:focus,
        &:hover,
        &:active {
            text-decoration: inherit;
        }
    }
}


