@use 'lib';

.countdown {

    margin-top: 3vw;

    &__value {
        display: block;
        margin: 0;
    }

    &__label {
        display: block;
        margin: -1.2vw 0 0;
    }


    @include lib.screenUp('desktop-layout') {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 2vw;

        // padding: 0 3.2vw;
        padding: 0;

        &__label {
            margin-top: -.6em;
        }
    }

    &--hidden {
        display: none;
    }

    &--visible {
        display: block;

        @include lib.screenUp('desktop-layout') {
            display: flex;
        }
    }


    html:not([data-lifecycle='countdown']) & {
        display: none !important;
    }

    // [data-lifecycle='steadystate'] & {
    //     display: none !important;
    // }
}


.countdown-element {

    margin: 0;

    & + & {
        margin-top: 1.6vw;//1.2vw;
    }


    @include lib.screenUp('desktop-layout') {
        & + & {
            margin-left: 1.54vw;
            margin-top: 0;
            // margin-left: 2.2vw;
            // margin-left: 2.68vw;
        }
    }
}

.countdown__value {
    @include lib.blockFont();
    font: {
        size: calc(var(--titleSize, 3rem) * 2.3333);

    }
    letter-spacing: 0;

    .countdown-element--hours & {
        color: #a7a9ac;
    }

    .countdown-element--minutes & {
        color: #818285;
    }

    .countdown-element--seconds & {
        color: #58585a;
    }

    @include lib.screenUp('desktop-layout') {
        font: {
            size: calc(var(--titleSize, 3rem) * 2.3779);
        }
    }
}

.countdown__label {
    text-transform: capitalize;
    font: {
        family: lib.$fontBody;
        family: lib.$fontMuseo;
        weight: lib.$fontBody--normal;
        // size: .92rem;
        size: calc(var(--titleSize, 3rem) * .4);
    }

    @include lib.screenUp('sm') {
        font-size: calc(var(--titleSize, 3rem) * .32);
    }

    @include lib.screenUp('desktop-layout') {
        margin-top: 0;
        font-size: calc(var(--titleSize, 3rem) * .3);
    }

    @include lib.screenUp('lg') {
        font-size: calc(var(--titleSize, 3rem) * .26);
    }
}






