@use 'lib';

.modal {
    // display: none !important;
}


.control-panel {
    position: fixed;
    z-index: 10000;
    bottom: 2rem;
    right: 2rem;
    // background: #ccc;
    padding: 1rem;
    // border: {
    //     radius: 0;
    // }

    &:before {
        content: '';
        @include lib.absolutelyFillContainer();
        z-index: -1;
        background: #777;
        opacity: .85;
        border: {
            radius: 8px;
            style: solid;
            width: 1px;
            color: #666;
        }
        box-shadow: 0 0 3px rgba(20,20,20,.8);

    }

    &__button {
        background: none;
        border: none;
        box-shadow: none;
        margin: 0;

        padding: .5em 1em;
        cursor: pointer;
        border: {
            radius: 4px;
            style: solid;
            width: 1px;
            color: #aaa;
        }
        box-shadow: 0 0 3px rgba(50,50,50,.5);
        background: #eee;

        &:hover {
            color: lib.palette('rmit-red');
        }

        & + & {
            margin-left: .5rem;
        }

        &[disabled] {
            cursor: not-allowed;
            color: white;
            background: black;
            border-color: #333;
            // opacity: .8;
        }
    }
}
