@use 'lib';

.embed-wrapper {
    width: 100%;
    margin-top: 2rem;
    position: relative;
    // padding-top: (10/16 * 100%);
    // padding-top: (10/16 * 100%);
    // padding-top: 80vh;

    @include lib.screenLandscape() {
        padding-top: 0;
    }

    $_buffer: 2vh;
    &--issuu {

        @include lib.screenPortrait() {
            width: 100%;
            padding-top: 80vh;
            padding-top: 65vh;

            @include lib.screenUp('nav-desktop') {
                padding-top: calc(100vh - var(--nav-height, 10vh) - #{$_buffer});
            }
        }

        @include lib.screenLandscape() {
            height: 90vh;
            padding-top: 0;

            @include lib.screenUp('nav-desktop') {
                height: calc(100vh - var(--nav-height, 10vh) - #{$_buffer});
            }
        }
    }

    &--vimeo,
    &--youtube {
        background: black;
        @include lib.screenPortrait() {
            width: 100%;
            padding-top: (10/16 * 100%);
        }

        @include lib.screenLandscape() {
            height: 90vh;
            padding-top: 0;

            @include lib.screenUp('nav-desktop') {
                height: calc(100vh - var(--nav-height, 10vh) - #{$_buffer});
            }
        }
    }

    &--indesign,
    &--generic {
        @include lib.screenPortrait() {
            width: 100%;
            padding-top: 80vh;
            padding-top: 65vh;

            @include lib.screenUp('nav-desktop') {
                padding-top: calc(100vh - var(--nav-height, 10vh) - #{$_buffer});
            }
        }

        @include lib.screenLandscape() {
            height: 90vh;
            padding-top: 0;

            @include lib.screenUp('nav-desktop') {
                height: calc(100vh - var(--nav-height, 10vh) - #{$_buffer});
            }
        }
    }

    > .issuuembed,
    > iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100% !important;
        height: 100% !important;
    }
}

.embed-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100% !important;
    height: 100% !important;
    // @media screen and (min-aspect-ratio: 1/1) {
    // }
}


.oembed-fallback-iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100% !important;
    height: 100% !important;
}
