@use 'lib';

.filters {

}

.filter-list {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;

    @include lib.screenUp('nav-desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    html:not([data-lifecycle='steadystate']) & {
        display: none !important;
    }
}

.filter-item {
    border-bottom: .55px solid #ccc;
    // margin-bottom: .25rem;
    color: inherit;
    overflow: hidden;
    position: relative;
    display: block;

    &--selected {
        color: lib.palette('rmit-red');
    }

    @include lib.screenUp('nav-desktop') {
        // display: inline-block;
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        width: auto;
        border: none;

        & + & {
            &:before {
                content: '';
                // margin: 0 .5rem;
                $_size: .5rem;
                margin-left: $_size;
                padding-left: $_size;

                border-left: 1px solid lib.$black;
            }
        }
    }
}

.filter-item__trigger {
    border: none;
    border-radius: none;
    appearance: none;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;

    @include lib.bodyFont();
    text-transform: none;
    font: {
        weight: lib.$fontBody--normal;
        size: 1rem;
    }
    cursor: pointer;

    padding: .25em 0;
    width: 100%;
    text-align: left;

    transform: translateX(0);
    transition: 160ms;

    &:before {
        content: '';
        display: inline-block;
        width: .8rem;
        height: .8rem;
        margin-right: .5rem;

        position: absolute;
        left: -.8rem - .5rem;
        top: 50%;
        transform: translate(0, -50%);
        background: {
            image: url('../images/rmit-logo-gradient.png');
            position: center;
            size: 100%;
            repeat: no-repeat;
        }
    }

    @include lib.screenUp('nav-desktop') {
        border-bottom: 2px solid transparent;
        transform: none;
        transition: none;
        // font: {
        //     size: 1vw;
        // }

        &:before {
            content: none;
            display: none;
        }
    }


    .filter-item--selected & {
        pointer-events: none;
    }

    .filter-item:not(.filter-item--selected):hover &,
    .filter-item:not(.filter-item--selected):focus-within & {
        transition: 160ms 16ms;
        transform: translateX(#{.8rem + .5rem});

        @include lib.screenUp('nav-desktop') {
            transform: none;
            transition: none;
            border-bottom-color: lib.palette('rmit-red');
        }
    }

    .count {
        opacity: .5;
    }
}
