@use "lib";

html, body {
    margin: 0;
    padding: 0;
}

body {
    // color: blue;
    // font: {
    //     family: Arial, sans-serif;
    //     size: 1rem;
    // }
    @include lib.bodyFont;
    font: {
        size: 1rem;
    }


    color: lib.$black;
    background: lib.$white;
    min-height: 100vh;
    overflow-y: scroll;


    --extrusion: 2.6rem;


    @include lib.screenUp('md') {
        --extrusion: 4rem;
    }
}


.body-liner {
    $_extrusion: var(--extrusion, #{lib.$extrusionFallback});
    width: 100%;
    height: 100%;
    padding: 0 #{$_extrusion} #{$_extrusion} 0;
    position: relative;


    // --extrusionGradientStop: 52rem;
    --extrusionGradientStop: 38rem;

    background: linear-gradient(to left, #{lib.palette('gradient-pink')} 0%, #{lib.palette('gradient-blue')} var(--extrusionGradientStop, 52rem));



    @include lib.screenUp('md') {
        --extrusionGradientStop: 62.5rem;
    }

    @include lib.screenUp('xl') {
        --extrusionGradientStop: 62.5rem;
    }


    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        // width: #{$_extrusion};
        // height: #{$_extrusion};

        border: {
            width: calc(#{$_extrusion} / 2);
            style: solid;
        }
    }

    &:before {
        top: 0;
        right: 0;
        border: {
            top-color: lib.$white;
            right-color: lib.$white;
            bottom-color: transparent;
            left-color: transparent;
        }
    }

    &:after {
        left: 0;
        bottom: 0;
        border: {
            top-color: transparent;
            right-color: transparent;
            bottom-color: lib.$white;
            left-color: lib.$white;
        }
    }
}

.body-content-area {
    border: calc(.28 * var(--extrusion, #{lib.$extrusionFallback})) solid lib.palette('frame-border');
    padding: .4rem .6rem;
    // padding: .8rem 1rem;
    padding: 3vw 3.4vw;
    background: lib.palette('white');

    transition: 500ms height;
}


.page-main {
    width: 100%;

}


.tile-list-section {
    display: block;
    width: 100%;
    // padding-top:

    [data-lifecycle='countdown'] & {
        display: none !important;
    }
}

.tile-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{lib.$tileMinWidth}, 1fr));
    grid-gap: .5rem;
    gap: .5rem;

    list-style-type: none;
    margin: 2rem 0 0;
    padding: 0;

    @include lib.screenUp('max-cols') {
        grid-template-columns: repeat(5, 1fr);
    }
}

.tile-list-item {
    width: 100%;

    // border-radius: 50%;
    // overflow: hidden;


    &--inactive {
        pointer-events: none;
    }

    &--hidden {
        &#{&} {
            display: none;
        }
    }
}


.colophon {
    font: {
        size: .8rem;
    }

    padding: 1rem calc(.3333 * var(--extrusion, 3rem));

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    &-item {
        display: block;
        // padding: 0 .25em;
        // margin-right: .25em;
        padding: .1em 0;
        color: #777;

        & + & {
            // margin-left: .25em;

            &:before {
                content: '|';
                padding: 0 .25em;

            }

        }
    }

    @include lib.screenUp('md') {

    }
}
