@use 'lib';









.rmitarch-logo-wrap {
    position: absolute;
    bottom: 0;
    right: calc(.3333 * var(--extrusion, #{lib.$extrusionFallback}));
    height: var(--extrusion, #{lib.$extrusionFallback});
    max-height: var(--extrusion, #{lib.$extrusionFallback});
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    padding: calc(.28 * var(--extrusion, #{lib.$extrusionFallback})) 0;
}

.rmitarch-logo {
    // height: calc(.4 * var(--extrusion, #{lib.$extrusionFallback}));
    height: 100%;
}
