@use 'lib';


.nav {
    margin: 1em 0;

    &--sticky {
        @include lib.screenUp('nav-desktop') {
            position: sticky;
            background: rgba(255,255,255, .96);
            z-index: 1000;
            top: 0;
            padding: 1rem 0;
        }
    }
}

.menu {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;

    @include lib.screenUp('nav-desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;

        position: sticky;
        top: 0;
    }

    html:not([data-lifecycle='steadystate']) & {
        display: none !important;
    }
}

.menu-item {
    @include lib.uiFont;

    border-bottom: .55px solid #ccc;
    // margin-bottom: .25rem;
    color: inherit;
    overflow: hidden;
    position: relative;
    display: block;

    &--selected {
        color: lib.palette('rmit-red');
    }

    @include lib.screenUp('nav-desktop') {
        // display: inline-block;
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        width: auto;
        border: none;

        & + & {
            &:before {
                content: '';
                // margin: 0 .5rem;
                $_size: .5rem;
                margin-left: $_size;
                padding-left: $_size;

                border-left: 1px solid lib.$black;
            }
        }
    }
}


.menu-item__action {
    display: block;
    border: none;
    border-radius: none;
    appearance: none;
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;

    @include lib.uiFont();
    text-transform: none;
    font: {
        weight: lib.$fontMuseo--normal;
        size: 1rem;
    }
    cursor: pointer;

    padding: .25em 0;
    width: 100%;
    text-align: left;

    transform: translateX(0);
    transition: 160ms;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:before {
        content: '';
        display: inline-block;
        width: .8rem;
        height: .8rem;
        margin-right: .5rem;

        position: absolute;
        left: -.8rem - .5rem;
        top: 50%;
        transform: translate(0, -50%);
        background: {
            image: url('../images/rmit-logo-gradient.png');
            position: center;
            size: 100%;
            repeat: no-repeat;
        }
    }

    @include lib.screenUp('nav-desktop') {
        border-bottom: 2px solid transparent;
        transform: none;
        transition: none;
        // font: {
        //     size: 1vw;
        // }

        &:before {
            content: none;
            display: none;
        }
    }


    .menu-item--selected & {
        pointer-events: none;
    }



    .menu-item:not(.menu-item--selected):hover &,
    .menu-item:not(.menu-item--selected):focus-within & {
        transition: 160ms 16ms;
        transform: translateX(#{.8rem + .5rem});

        @include lib.screenUp('nav-desktop') {
            transform: none;
            transition: none;
            border-bottom-color: lib.palette('rmit-red');
        }
    }

    .count {
        opacity: .5;
    }
}


.show-names-toggle-wrapper {
    position: sticky;
    display: block;

    html:not([data-lifecycle='steadystate']) & {
        display: none !important;
    }

    // [data-lifecycle=steadystate] {
    //     display: block; // can't be inline-block or sticky doesn't work in webkit
    // }

    width: 10.5em; // magic!
    margin: 3rem 0 0 0;
    margin-bottom: -1rem;
    padding: 1em;

    z-index: 1000;
    bottom: 2em;
    bottom: 1em;
    left: 1.5em;
    // left: 50%;
    // transform: translate(-50%, 0);
    background: rgba(255,255,255, .96);
    background: rgba(0,0,0, .96);
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    border: {
        radius: 6px;
    }

    @include lib.screenUp('md') {
        bottom: 5vh;
        left: 5vh;
    }

    &.hidden {
        display: none;
    }
}


.show-names-toggle {
    @include lib.button-reset;
    cursor: pointer;

    // font: {
    //     family: inherit;
    //     weight: lib.$fontMuseoSans--bold;
    // }
    @include lib.uiFont;

    // text-transform: uppercase;

    // padding: .5em;
    margin: 0 auto;
    // margin-left: -.5em;


    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    width: auto;
    // display: inline-block;


    // color: inherit;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus,
    &:focus-within {
        // color: lib.palette('rmit-red');
        border-bottom-color: lib.palette('rmit-red');
    }


    label {
    }

    input {
        // vertical-align: baseline;
        margin: 0 .5em 0 0;
        color: inherit;
        // &:hover,
        // &:focus {
        //     border-color: lib.palette('rmit-red');
        // }
    }
}
