@use "lib";

.modal {

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &:before {
        content: '';
        @include lib.absolutelyFillContainer();
        background: #000;
        opacity: .8;
    }

    &--inactive {

        left: -1000vw;

        html.no-js & {
            position: static;
            transform: none;
        }
    }

    &--active {
        left: 0;
    }

}

$modal_gap: 2rem;
.modal-liner {
    $_size: calc(100% - (#{$modal_gap} * 2));
    width:$_size;
    height:$_size;


    position: relative;

    padding: $modal_gap;

    &:before {
        content: '';
        @include lib.absolutelyFillContainer();
        z-index: 0;
        background: #FFF;
    }
}

.modal-close-trigger {
    position: absolute;
    z-index: 100;
    top: -($modal_gap / 2);
    right: -($modal_gap / 2);
    // transform: translate(-50%, -50%);

    height: $modal_gap;
    width: auto;

    border: none;

    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    background: #ccc;
    border-radius: 8px;
    cursor: pointer;
}


.modal-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.youtube-embed {
    width: 100%;
    height: 100%;
}
