@use 'lib';

.project {

}

.project-header {
    padding: 1em 0;
    $_width: 2px;
    border: {
        width: 0;
        style: solid;
        color: black;
        top-width: $_width;
        bottom-width: $_width;
    }

    margin-bottom: 1.2em;

    & + *,
    & + .embed-wrapper {
        margin-top: 0;
    }
}

.project-title {
    // font: {
    //     family: lib.$fontMuseoSans;
    //     weight: lib.$fontMuseoSans;
    // }

    @include lib.heading-1;
    margin: 0;
    letter-spacing: -.015em;
}

.project-subtitle {
    display: block;
}


.project-author {
    margin: .15em 0 0;
    margin: 0;

    @include lib.heading-1;
    font: {
        weight: lib.$fontMuseoSans--default;
    }
    // font: {
    //     size: 2.4em;
    //     size: 3.2em;
    // }

    letter-spacing: -.015em;
}
.project-supervisor {
    @include lib.uiFont;

    margin: 1em 0 0;
    color: #707176;
}

.project-award {
    @include lib.uiFont;

    font-weight: lib.$fontMuseo--bold;

    margin: 1em 0 -.5em;
    color: lib.palette('rmit-red');
    padding-top: .5em;

    border-top: 2px solid lib.palette('black');
    // letter-spacing: .005em;
}

.project-external-link {
    @include lib.displayFont;
    letter-spacing: .01em;

    // font: {
    //     weight: bold;
    // }
}
