@use 'lib';

.socials-list {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-end;

    html:not([data-lifecycle=steadystate]) & {
        display: none !important;
    }

    @include lib.screenUp('nav-desktop') {
        margin-top: -1em;
    }
}

.socials-item {
    vertical-align: baseline;
    display: block;
    // &:after {
    //     content: '\f16d';
    // }

    font: {
        size: 1.4rem;
    }

    & + & {
        margin-left: 1rem;
    }


    color: lib.palette('black');
    text-decoration: none;

    &:hover,
    &:focus-within {
        color: lib.palette('rmit-red');
        text-decoration: none;
    }

    &__link {
        color: inherit;
        text-decoration: inherit;
        font: inherit;
    }

    &__icon {
        color: inherit;
        text-decoration: inherit;
        font: inherit;
    }
}

