@use "lib";





.tile {
    $_starBgSize: 99.5%;
    // $_starBgSize: 99.2%;

    width: 100%;
    padding: 100% 0 0 0;
    position: relative;
    border: none;
    contain: strict;
    border-radius: 50%;
    background-clip: padding-box;

    // box-shadow: 0 0 2px lib.$white;
    color: lib.$white;
    background: lib.$white;
    overflow: hidden;

    font-family: lib.$fontBody;

    > * {
        position: absolute;
    }

    &:before,
    &:after {
        content: '';
        pointer-events: none;
    }

    &:before {
        @include lib.absolutelyCentered();
        z-index: 4;
        width: $_starBgSize;
        height: $_starBgSize;
        background: red;
        mix-blend-mode: multiply;
        opacity: 0;
        border-radius: 50%;

        .force-names & {
            background: #3f3f3f; // too dark apparently
            background: #888888;
            opacity: 1;
        }
    }

    &:after {
        z-index: 5;
        @include lib.absolutelyFillContainer();
        // background: ;
        background: {
            // image: url('/assets/images/star-mask-400.png');
            size: 100%;
            repeat: no-repeat;
            position: center;
        }
        // border: ;
    }

    &:hover,
    &:focus-within {
        &:before {

            opacity: 1;
            // transition: opacity .15s linear;
            .force-names & {
                background: red;
            }
        }
    }

    &--circle {
        // clip-path: circle(50%);
        // border-radius: 50%;

        &:before {
            // width: $_starBgSize - .5;
            // height: $_starBgSize - .5;
            width: 100%;
            height: 100%;
        }
    }

    &--star {
        // clip-path: circle(50%);
        // clip-path: content-box url(#starMaskPolygon);
        // clip-path: polygon(50% 5%, 95% 50%, 50% 95%, 5% 50%);
        &:after {
            background: {
                // image: url('/assets/images/mask-star-with-padding-omg.svg');
                image: url('https://d3nfach4wyzdk1.cloudfront.net/images/mask-star-with-padding-omg.svg');

            }
        }
    }

    &__image {

        @include lib.absolutelyCentered();
        z-index: 2;
        // object-position: center;
        pointer-events: none;
        border-radius: 50%;
        width: $_starBgSize;
        height: $_starBgSize;
        background: #eee;

        // width: 100%;
        // height: 100%;
        border-radius: 50%;
        overflow: hidden;
        // transition: opacity 500ms;


        .tile--circle & {
            transform: translate(-50%, -50%) scale(1.015);
        }

        .tile--has-animation:hover &,
        .tile--has-animation:focus-within & {
            transition: opacity 200ms;
            opacity: 0;
        }
    }

    &__image-mask {
        @include lib.absolutelyFillContainer();
        z-index: 3;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
        border-radius: 50%;
    }

    &__animation {

        @include lib.absolutelyCentered();
        z-index: 1;
        opacity: 1;
        display: block;
        // opacity: 0;
        // display: none;

        // object-position: center;
        pointer-events: none;
        border-radius: 50%;
        width: $_starBgSize;
        height: $_starBgSize;
        background: #eee;

        object-fit: cover;
        object-position: center;

        // width: 100%;
        // height: 100%;
        border-radius: 50%;
        overflow: hidden;

        // transition: opacity 0 500ms;

        // .tile--has-animation:hover &,
        // .tile--has-animation:focus-within & {
        //     opacity: 1;
        // }

        .tile--circle & {
            transform: translate(-50%, -50%) scale(1.015);
        }

        html:not([data-lifecycle='steadystate']) & {
            display: none !important;
        }

        // [data-lifecycle=steadystate] &{
        //     opacity: 1;
        //     display: block;
        // }
    }


    &__content-lockup {
        $_size: 80%;//65%;
        z-index: 10;
        top: 50%;
        left: 50%;
        width: $_size;
        height: $_size;
        transform: translate(-50%, -50%);
        // margin-top: -.5rem;

        opacity: 0;
        // transition: opacity .05s linear;
        text-align: center;

        display: flex;
        flex-flow: column;
        justify-content: center;
        // color: transparent;

        .tile:hover &,
        .tile:focus-within &,
        .force-names & {
            opacity: 1;
            // transition: opacity .15s ease-in;
            // transition: color .1s linear;
            // color: lib.$white;
        }
    }

    &__primary {
        font: {
            // size: 1.25rem;
            size: 1.4rem;
            weight: 700;
        }
        line-height: 1;
        margin: 0;

        @include lib.screenUp('max-cols') {
            font-size: 1.6vw;
        }

        &:empty {
            display: none;
        }
    }

    &__secondary {
        font: {
            size: .7rem;
            size: .85rem;
            weight: 300;
        }
        letter-spacing: .02em;
        margin: .5em 0 0;
        padding: {
            left: 6%;
            right: 6%;
        }
        // position: relative;

        @include lib.screenUp('max-cols') {
            font-size: .85vw;//.8vw;
        }

        &:empty {
            display: none;
        }
    }

    &__tertiary {
        font: {
            size: .65rem;
            weight: 700;
        }
        letter-spacing: .06em;
        margin: 1.2em 0 0;

        @include lib.screenUp('max-cols') {
            font-size: .7vw;
        }

        &:empty {
            display: none;
        }
    }

    &__link {
        @include lib.absolutelyFillContainer();
        z-index: 15;
        border-radius: 50%;
    }

    html:not([data-lifecycle='steadystate']) .tile-list-item:not(.tile-list-item--welcome-video) & {
        pointer-events: none;
        opacity: .4;
        // filter: grayscale(100%);
        &:before {
            background: #ccc;
            opacity: 1;
            mix-blend-mode: color;
        }

    }

    .tile-list-item--welcome-video & {
        cursor: pointer;
    }
}


// .tile__image {
//     opacity: 0 !important;
// }
