@use 'lib';

body {
    @include lib.bodyFont;
    font: {
        size: 1em;
    }
    line-height: 1.3;
    @include lib.screenUp('lg') {
        // line-height: 1.2;

    }

    --titleSize: 7.2vw;

    @include lib.screenUp('desktop-layout') {
        --titleSize: 5.2vw;//5.6vw;
    }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    @include lib.headings();
}

h1, .h1 {
    @include lib.heading-1();
    line-height: 1.1;
    line-height: 1;
}

p, a {

    @include lib.screenUp('lg') {
        // font-size: 1.1em;
    }
}

.page-header {

}

.page-title {
    @include lib.blockFont();
    font: {
        size: var(--titleSize, 3rem);
    }

    margin: 0;

    &--black {
        color: lib.palette('black');
    }

    &--red {
        color: lib.palette('rmit-red');
    }

    span {
        display: block;
    }

    .date-separator {
        display: inline-block;
        vertical-align: top;
        height: 1em;

        &:before {
            // content: '|';
            // font-weight: normal;
            content: '';
            display: inline-block;
            border-left: .1rem solid #{lib.palette('black')};
            border-left: .075em solid #{lib.palette('black')};
            // transform: scale(.8);
            height: 100%;

        }
    }
}


.exhibition-date {
    display: block;
    margin: 1vw 0 0;

    font: {
        family: lib.$fontBody;
        family: lib.$fontMuseo;
        weight: lib.$fontBody--thin;
        size: var(--titleSize, 3rem);
    }

    line-height: .95;
    text-transform: uppercase;
    letter-spacing: -.03em;

    @include lib.screenUp('desktop-layout') {
        margin-top: .8vw;
    }

    &__adjustment {
        margin-left: calc(var(--titleSize, 3rem) * -.14);
    }

    html:not([data-lifecycle='countdown']) & {
        display: none !important;
    }
}




.intro-text {
    @include lib.bodyFont();
    text-transform: none;
    font: {
        weight: lib.$fontBody--normal;
        size: 1rem;
    }

    margin-top: 1rem;

    html:not([data-lifecycle='intro']) & {
        display: none !important;
    }
}


.screen-reader-text {
    position: absolute;
    left: -1000vw;
}






// .page-main p {
//     max-width: 42rem;
// }
