*,
*:after,
*:before {
  box-sizing: border-box;
}

.color--white {
  color: #FFF;
}

.color--black {
  color: #000;
}

.color--rmit-red {
  color: #ed1c24;
}

.color--link-blue {
  color: #258fbd;
}

.color--grey-very-light {
  color: #eee;
}

.color--grey-light {
  color: #ddd;
}

.color--gradient-pink {
  color: #c00876;
}

.color--gradient-blue {
  color: #0071aa;
}

.color--frame-border {
  color: #f3f3f4;
}

.page-header {
  --titleSize: 7.2vw;
}
@media screen and (min-width: 48em) {
  .page-header {
    --titleSize: 5.2vw;
  }
}

.page-title {
  font-family: "museo-sans-display", Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 0.95;
  text-transform: uppercase;
  letter-spacing: -0.022em;
  font-size: var(--titleSize, 3rem);
  margin: 0;
}
.page-title--black {
  color: #000;
}
.page-title--red {
  color: #ed1c24;
}
.page-title span {
  display: block;
}

.exhibition-date {
  display: block;
  margin: 1vw 0 0;
  font-family: "museo", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: var(--titleSize, 3rem);
  line-height: 0.95;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 48em) {
  .exhibition-date {
    margin-top: 0.8vw;
  }
}
.exhibition-date__adjustment {
  margin-left: calc(var(--titleSize, 3rem) * -.14);
}
html:not([data-lifecycle=countdown]) .exhibition-date {
  display: none !important;
}

.countdown__value {
  font-family: "museo-sans-display", Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 0.95;
  text-transform: uppercase;
  letter-spacing: -0.022em;
  font-size: calc(var(--titleSize, 3rem) * 2.3333);
  letter-spacing: 0;
}
@media screen and (min-width: 48em) {
  .countdown__value {
    font-size: calc(var(--titleSize, 3rem) * 2.3779);
  }
}

.countdown__label {
  text-transform: capitalize;
  font-family: "museo", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(var(--titleSize, 3rem) * .4);
}
@media screen and (min-width: 26.25em) {
  .countdown__label {
    font-size: calc(var(--titleSize, 3rem) * .32);
  }
}
@media screen and (min-width: 48em) {
  .countdown__label {
    margin-top: 0;
    font-size: calc(var(--titleSize, 3rem) * .3);
  }
}
@media screen and (min-width: 64em) {
  .countdown__label {
    font-size: calc(var(--titleSize, 3rem) * .26);
  }
}

.intro-text {
  font-family: "museo", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: none;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}
html:not([data-lifecycle=intro]) .intro-text {
  display: none !important;
}

.screen-reader-text {
  position: absolute;
  left: -1000vw;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #ed1c24;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

.link--no-style {
  color: inherit;
  text-decoration: inherit;
}
.link--no-style:focus, .link--no-style:hover, .link--no-style:active {
  text-decoration: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #000;
  background: #FFF;
  min-height: 100vh;
  overflow-y: scroll;
  --extrusion: 2.6rem;
}
@media screen and (min-width: 48em) {
  body {
    --extrusion: 4rem;
  }
}

.body-liner {
  width: 100%;
  height: 100%;
  padding: 0 var(--extrusion, 3rem) var(--extrusion, 3rem) 0;
  position: relative;
  --extrusionGradientStop: 38rem;
  background: linear-gradient(to left, #c00876 0%, #0071aa var(--extrusionGradientStop, 52rem));
}
@media screen and (min-width: 48em) {
  .body-liner {
    --extrusionGradientStop: 62.5rem;
  }
}
@media screen and (min-width: 75em) {
  .body-liner {
    --extrusionGradientStop: 62.5rem;
  }
}
.body-liner:before, .body-liner:after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  border-width: calc(var(--extrusion, 3rem) / 2);
  border-style: solid;
}
.body-liner:before {
  top: 0;
  right: 0;
  border-top-color: #FFF;
  border-right-color: #FFF;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.body-liner:after {
  left: 0;
  bottom: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #FFF;
  border-left-color: #FFF;
}

.body-content-area {
  border: calc(.28 * var(--extrusion, 3rem)) solid #f3f3f4;
  padding: 0.4rem 0.6rem;
  padding: 3vw 3.4vw;
  background: #FFF;
  transition: 500ms height;
}

.page-main {
  width: 100%;
}

.tile-list-section {
  display: block;
  width: 100%;
}
[data-lifecycle=countdown] .tile-list-section {
  display: none !important;
}

.tile-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 0.5rem;
  gap: 0.5rem;
  list-style-type: none;
  margin: 2rem 0 0;
  padding: 0;
}
@media screen and (min-width: 84rem) {
  .tile-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.tile-list-item {
  width: 100%;
}
.tile-list-item--inactive {
  pointer-events: none;
}
.tile-list-item--hidden.tile-list-item--hidden {
  display: none;
}

.countdown {
  margin-top: 3vw;
}
.countdown__value {
  display: block;
  margin: 0;
}
.countdown__label {
  display: block;
  margin: -1.2vw 0 0;
}
@media screen and (min-width: 48em) {
  .countdown {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2vw;
    padding: 0;
  }
  .countdown__label {
    margin-top: -0.6em;
  }
}
.countdown--hidden {
  display: none;
}
.countdown--visible {
  display: block;
}
@media screen and (min-width: 48em) {
  .countdown--visible {
    display: flex;
  }
}
html:not([data-lifecycle=countdown]) .countdown {
  display: none !important;
}

.countdown-element {
  margin: 0;
}
.countdown-element + .countdown-element {
  margin-top: 1.6vw;
}
@media screen and (min-width: 48em) {
  .countdown-element + .countdown-element {
    margin-left: 1.54vw;
    margin-top: 0;
  }
}

.countdown-element--hours .countdown__value {
  color: #a7a9ac;
}

.countdown-element--minutes .countdown__value {
  color: #818285;
}

.countdown-element--seconds .countdown__value {
  color: #58585a;
}

.tile {
  width: 100%;
  padding: 100% 0 0 0;
  position: relative;
  border: none;
  contain: strict;
  border-radius: 50%;
  background-clip: padding-box;
  color: #FFF;
  background: #FFF;
  overflow: hidden;
  font-family: "museo", Arial, Helvetica, sans-serif;
}
.tile > * {
  position: absolute;
}
.tile:before, .tile:after {
  content: "";
  pointer-events: none;
}
.tile:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 4;
  width: 99.5%;
  height: 99.5%;
  background: red;
  mix-blend-mode: multiply;
  opacity: 0;
  border-radius: 50%;
}
.tile:after {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.tile:hover:before, .tile:focus-within:before {
  opacity: 1;
}
.tile--circle:before {
  width: 100%;
  height: 100%;
}
.tile--star:after {
  background-image: url("https://d3nfach4wyzdk1.cloudfront.net/images/mask-star-with-padding-omg.svg");
}
.tile__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  border-radius: 50%;
  width: 99.5%;
  height: 99.5%;
  border-radius: 50%;
  overflow: hidden;
}
.tile--circle .tile__image {
  transform: translate(-50%, -50%) scale(1.015);
}
.tile__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  pointer-events: none;
  border-radius: 50%;
}
.tile__content-lockup {
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 65%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.tile:hover .tile__content-lockup, .tile:focus-within .tile__content-lockup {
  opacity: 1;
}
.tile__primary {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
@media screen and (min-width: 84rem) {
  .tile__primary {
    font-size: 1.6vw;
  }
}
.tile__primary:empty {
  display: none;
}
.tile__secondary {
  font-size: 0.7rem;
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin: 0.5em 0 0;
}
@media screen and (min-width: 84rem) {
  .tile__secondary {
    font-size: 0.85vw;
  }
}
.tile__secondary:empty {
  display: none;
}
.tile__tertiary {
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin: 1.2em 0 0;
}
@media screen and (min-width: 84rem) {
  .tile__tertiary {
    font-size: 0.7vw;
  }
}
.tile__tertiary:empty {
  display: none;
}
.tile__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 15;
  border-radius: 50%;
}
html:not([data-lifecycle=steadystate]) .tile-list-item:not(.tile-list-item--welcome-video) .tile {
  pointer-events: none;
  opacity: 0.4;
}
html:not([data-lifecycle=steadystate]) .tile-list-item:not(.tile-list-item--welcome-video) .tile:before {
  background: #ccc;
  opacity: 1;
  mix-blend-mode: color;
}
.tile-list-item--welcome-video .tile {
  cursor: pointer;
}

.menu {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
}
@media screen and (min-width: 75em) {
  .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
html:not([data-lifecycle=steadystate]) .menu {
  display: none !important;
}

.menu-item {
  border-bottom: 0.55px solid #ccc;
  color: inherit;
  overflow: hidden;
  position: relative;
  display: block;
}
.menu-item--selected {
  color: #ed1c24;
}
@media screen and (min-width: 75em) {
  .menu-item {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: auto;
    border: none;
  }
  .menu-item + .menu-item:before {
    content: "";
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid #000;
  }
}

.filter-list {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
}
@media screen and (min-width: 75em) {
  .filter-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
html:not([data-lifecycle=steadystate]) .filter-list {
  display: none !important;
}

.filter-item {
  border-bottom: 0.55px solid #ccc;
  color: inherit;
  overflow: hidden;
  position: relative;
  display: block;
}
.filter-item--selected {
  color: #ed1c24;
}
@media screen and (min-width: 75em) {
  .filter-item {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: auto;
    border: none;
  }
  .filter-item + .filter-item:before {
    content: "";
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid #000;
  }
}

.filter-item__trigger {
  border: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
  font-family: "museo", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25em 0;
  width: 100%;
  text-align: left;
  transform: translateX(0);
  transition: 160ms;
}
.filter-item__trigger:before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  position: absolute;
  left: -1.3rem;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("/assets/images/rmit-logo-gradient.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 75em) {
  .filter-item__trigger {
    border-bottom: 2px solid transparent;
    transform: none;
    transition: none;
  }
  .filter-item__trigger:before {
    content: none;
    display: none;
  }
}
.filter-item--selected .filter-item__trigger {
  pointer-events: none;
}
.filter-item:not(.filter-item--selected):hover .filter-item__trigger, .filter-item:not(.filter-item--selected):focus-within .filter-item__trigger {
  transition: 160ms 16ms;
  transform: translateX(1.3rem);
}
@media screen and (min-width: 75em) {
  .filter-item:not(.filter-item--selected):hover .filter-item__trigger, .filter-item:not(.filter-item--selected):focus-within .filter-item__trigger {
    transform: none;
    transition: none;
    border-bottom-color: #ed1c24;
  }
}
.filter-item__trigger .count {
  opacity: 0.5;
}

.socials-list {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-end;
}
html:not([data-lifecycle=steadystate]) .socials-list {
  display: none !important;
}

.socials-item {
  vertical-align: baseline;
  display: block;
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
}
.socials-item + .socials-item {
  margin-left: 1rem;
}
.socials-item:hover, .socials-item:focus-within {
  color: #ed1c24;
  text-decoration: none;
}
.socials-item__link {
  color: inherit;
  text-decoration: inherit;
  font: inherit;
}
.socials-item__icon {
  color: inherit;
  text-decoration: inherit;
  font: inherit;
}

.rmitarch-logo-wrap {
  position: absolute;
  bottom: 0;
  right: calc(.3333 * var(--extrusion, 3rem));
  height: var(--extrusion, 3rem);
  max-height: var(--extrusion, 3rem);
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: calc(.28 * var(--extrusion, 3rem)) 0;
}

.rmitarch-logo {
  height: 100%;
}

.project-subtitle {
  display: block;
}

.project-external-link {
  font-weight: bold;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.modal:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.8;
}
.modal--inactive {
  left: -1000vw;
}
html.no-js .modal--inactive {
  position: static;
  transform: none;
}
.modal--active {
  left: 0;
}

.modal-liner {
  width: calc(100% - (2rem * 2));
  height: calc(100% - (2rem * 2));
  position: relative;
  padding: 2rem;
}
.modal-liner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: #FFF;
}

.modal-close-trigger {
  position: absolute;
  z-index: 100;
  top: -1rem;
  right: -1rem;
  height: 2rem;
  width: auto;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: #ccc;
  border-radius: 8px;
}

.modal-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.youtube-embed {
  width: 100%;
  height: 100%;
}

.control-panel {
  position: fixed;
  z-index: 10000;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
}
.control-panel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #777;
  opacity: 0.85;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #666;
  box-shadow: 0 0 3px rgba(20, 20, 20, 0.8);
}
.control-panel__button {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);
  background: #eee;
}
.control-panel__button:hover {
  color: #ed1c24;
}
.control-panel__button + .control-panel__button {
  margin-left: 0.5rem;
}
.control-panel__button[disabled] {
  cursor: not-allowed;
  color: white;
  background: black;
  border-color: #333;
}