.tile {
  width: 100%;
  padding: 100% 0 0 0;
  position: relative;
  border: none;
  contain: strict;
  border-radius: 50%;
  background-clip: padding-box;
  color: #FFF;
  background: #FFF;
  overflow: hidden;
  font-family: "museo", Arial, Helvetica, sans-serif;
}
.tile > * {
  position: absolute;
}
.tile:before, .tile:after {
  content: "";
  pointer-events: none;
}
.tile:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 4;
  width: 99.5%;
  height: 99.5%;
  background: red;
  mix-blend-mode: multiply;
  opacity: 0;
  border-radius: 50%;
}
.tile:after {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.tile:hover:before, .tile:focus-within:before {
  opacity: 1;
}
.tile--circle:before {
  width: 100%;
  height: 100%;
}
.tile--star:after {
  background-image: url("https://d3nfach4wyzdk1.cloudfront.net/images/mask-star-with-padding-omg.svg");
}
.tile__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  border-radius: 50%;
  width: 99.5%;
  height: 99.5%;
  border-radius: 50%;
  overflow: hidden;
}
.tile--circle .tile__image {
  transform: translate(-50%, -50%) scale(1.015);
}
.tile__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  pointer-events: none;
  border-radius: 50%;
}
.tile__content-lockup {
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 65%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.tile:hover .tile__content-lockup, .tile:focus-within .tile__content-lockup {
  opacity: 1;
}
.tile__primary {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
@media screen and (min-width: 84rem) {
  .tile__primary {
    font-size: 1.6vw;
  }
}
.tile__primary:empty {
  display: none;
}
.tile__secondary {
  font-size: 0.7rem;
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin: 0.5em 0 0;
}
@media screen and (min-width: 84rem) {
  .tile__secondary {
    font-size: 0.85vw;
  }
}
.tile__secondary:empty {
  display: none;
}
.tile__tertiary {
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin: 1.2em 0 0;
}
@media screen and (min-width: 84rem) {
  .tile__tertiary {
    font-size: 0.7vw;
  }
}
.tile__tertiary:empty {
  display: none;
}
.tile__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 15;
  border-radius: 50%;
}
html:not([data-lifecycle=steadystate]) .tile-list-item:not(.tile-list-item--welcome-video) .tile {
  pointer-events: none;
  opacity: 0.4;
}
html:not([data-lifecycle=steadystate]) .tile-list-item:not(.tile-list-item--welcome-video) .tile:before {
  background: #ccc;
  opacity: 1;
  mix-blend-mode: color;
}
.tile-list-item--welcome-video .tile {
  cursor: pointer;
}