@use "sass:map";

@function bp($breakpoint, $map) {
    @if (type-of($map) != 'map') {
        @return null;
    }
    @else if map.has-key($map, $breakpoint) {
        @return map.get($map, $breakpoint);
    }
    @else {
        @error "breakpoint " + $breakpoint " doesn't exist for map " + $map;
    }
}


// Remove the unit of a length
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}
