@use "functions" as f;
@use "variables" as v;
@use "mixins-layout" as layout;


@mixin bodyFont {
    font: {
        // family: v.$fontBody;
        // weight: v.$fontBody--default;
        family: v.$fontMuseoSans;
        weight: v.$fontMuseoSans--default;
    }
}

@mixin displayFont {
    font: {
        // family: v.$fontDisplay;
        // weight: v.$fontDisplay--normal;

        // family: v.$fontMuseoSansDisplay;
        // weight: v.$fontMuseoSansDisplay--default;

        family: v.$fontMuseoSans;
        weight: v.$fontMuseoSans--bold;
    }

    // line-height: .95;
    // text-transform: uppercase;
    // letter-spacing: -.022em;
}

@mixin blockFont {
    font: {
        family: v.$fontMuseoSansDisplay;
        weight: v.$fontMuseoSansDisplay--default;
    }
    line-height: .95;
    text-transform: uppercase;
    letter-spacing: -.022em;
}

@mixin uiFont {
    font: {
        // family: v.$fontDisplay;
        // weight: v.$fontDisplay--normal;
        family: v.$fontMuseo;
        weight: v.$fontMuseo--default;
    }
}


@mixin headings {
    @include displayFont();

    b, strong {
        font-weight: v.$fontMuseoSans--bold;
    }
}

@mixin heading-1 {
    font: {
        size: calc(var(--titleSize) * .95);
    }

    letter-spacing: -.02em;

    @include layout.screenUp('desktop-layout') {
        font: {
            size: calc(var(--titleSize) * .635);
        }
    }

}

// @mixin heading-2 {
//     font: {
//         size: 1em;
//     }
// }

// @mixin heading-3 {
//     font: {
//         size: 1em;
//         weight: v.$fontDisplay--normal;
//     }

//     b, strong {
//         font-weight: v.$fontDisplay--bold;
//     }
// }

// @mixin heading-4 {
//     font: {
//         size: 1em;
//         weight: v.$fontDisplay--normal;
//     }

//     b, strong {
//         font-weight: v.$fontDisplay--bold;
//     }
// }

// @mixin heading-5 {
//     font-weight: v.$fontDisplay--normal;

//     b, strong {
//         font-weight: v.$fontDisplay--bold;
//     }
// }
