@use "functions" as f;
@use "variables" as v;

@mixin pageMargins() {
    padding: {
        left: v.$pageMargin;
        right: v.$pageMargin;
    }

    @include screenUp('content-max') {
        padding: {
            left: 0;
            right: 0;
        }

        // padding: {
        //     left: calc(5% - 5vw);
        //     right: calc(5% - 5vw);
        // }

        padding: {
            left: calc(50% - (#{v.$contentMaxWidth} / 2));
            right: calc(50% - (#{v.$contentMaxWidth} / 2));
        }
    }
}

@mixin contentMaxWidths() {
    > * {
        @include alignNormal();
    }
}

@mixin alignNormal() {
    width: v.$contentMaxWidth;
    max-width: 90%;
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin alignFull() {
    // $parent: 100%;
    // $window: 100vw;
    // $scrollbar: var(--scrollbarWidth);
    // $formula: calc(#{$parent / 2} - #{$window / 2} + #{$scrollbar / 2});
    // margin: {
    //     left: $formula;
    //     right: $formula;
    // }
    // max-width: calc(100vw - var(--scrollbarWidth));
    // width: calc(100vw - var(--scrollbarWidth));

    // .no-js & {
    //     width: 100%;
    //     max-width: 100%;
    //     margin: {
    //         left: auto;
    //         right: auto;
    //     }
    // }

    width: 100%;
    max-width: 100%;
}

@mixin alignWide {
    width: 100%;
    max-width: 100%;

    // &,
    // &.has-background {
    //     padding: {
    //         left: 0;
    //         right: 0;
    //     }
    // }

    @include screenUp('lg') {
        // width: lib.$contentMaxWidth * 1.2;
        width: 95%;
        max-width: v.$contentMaxWidth * 1.2;
    }

    @include screenUp('xxl') {
        width: v.$contentMaxWidth * 1.3;
        max-width: 90%;
    }
}

@mixin absolutelyFillContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@mixin absolutelyCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
}

@mixin screenUp($breakpoint, $map: v.$breakWidths) {
    @media screen and (min-width: f.bp($breakpoint, $map)) {
        @content;
    }
}


@mixin screenDown($breakpoint, $map: v.$breakWidths) {
    @media screen and (max-width: f.bp($breakpoint, $map)) {
        @content;
    }
}

@mixin screenLandscape() {
    @media screen and (min-aspect-ratio: 1/1) {
        @content;
    }
}

@mixin screenPortrait() {
    @media screen and (max-aspect-ratio: 1/1) {
        @content;
    }
}

@mixin screenUltrawide() {
    @media screen and (min-aspect-ratio: 18/9) {
        @content;
    }
}

@mixin screenLandscapePhone {
    @include screenLandscape {
        @media screen and (max-height: 32em) {
            @content;
        }
    }
}
