@use "functions";
@use "sass:map";

// FONTS ////////////////////////////////////////////////
$fontDisplay: "museo-sans-display", Helvetica, Arial, sans-serif;
$fontBody: "museo", Helvetica, Arial, sans-serif;
$fontBodySans: "museo-sans", Helvetica, Arial, sans-serif;

$fontMuseoSansDisplay: "museo-sans-display", Helvetica, Arial, sans-serif;
$fontMuseoSans: "museo-sans", Helvetica, Arial, sans-serif;
$fontMuseo: "museo", Helvetica, Arial, sans-serif;

$fontMuseo--thin: 100;
$fontMuseo--light: 300;
$fontMuseo--normal: 500;
$fontMuseo--bold: 700;
$fontMuseo--default: $fontMuseo--normal;

$fontMuseoSansDisplay--normal: 900;
$fontMuseoSansDisplay--bold: 900;
$fontMuseoSansDisplay--extraBold: 900;
$fontMuseoSansDisplay--default: $fontMuseoSansDisplay--normal;

$fontMuseoSans--light: 300;
$fontMuseoSans--bold: 900;
$fontMuseoSans--default: $fontMuseoSans--light;


$fontBody--thin: 100;
$fontBody--light: 300;
$fontBody--normal: 500;
$fontBody--bold: 700;
$fontBody--default: $fontBody--normal;

$fontDisplay--normal: 900;
$fontDisplay--bold: 900;
$fontDisplay--extraBold: 900;
$fontDisplay--default: 900;



// COLOURS ////////////////////////////////////////////////

$trueBlack: #000;
$trueWhite: #FFF;

$black: $trueBlack;
$white: $trueWhite;

$linkBlue: #258fbd;
$grey--light: #ddd;
$grey--medium: #7f7f7f;
$grey--dark: #333;
$brandRed: #ed1c24;
$clr-placeholder: #fafbfc;



$palette: (
    "white": $white,
    "black": $black,
    "rmit-red": $brandRed,
    "link-blue": $linkBlue,
    "grey-very-light": #eee,
    "grey-light": $grey--light,
    "gradient-pink": #c00876,
    "gradient-blue": #0071aa,
    "frame-border": #f3f3f4
);

@function palette($color) {
    @if map.has-key($palette, $color) {
        @return map.get($palette, $color);
    }
    @else {
        @error "Colour " + $color " is not in the colour palette " + $palette;
    }
}



// LAYOUT ////////////////////////////////////////////////


$zMasthead: 1000;
$zModal: 2000;

$pageMargin: 5%;
$contentMaxWidth: (1200/16) * 1rem;

$verticalWhitespace: 2rem;


$tileMaxCols: 5;
$tileMinWidth: 14rem;//12rem;


// assumes 16px = 1rem
$breakWidths: (
    "xsm": #{(350/16)}em,
    "sm": #{(420/16)}em,
    "md": #{(768/16)}em,
    "lg": #{(1024/16)}em,
    "xl": #{(1200/16)}em,
    "xxl": #{(1440/16)}em,
    "xxxl": #{(1920/16)}em,
    "desktop-layout": #{(768/16)}em,
    "nav-desktop": #{(1200/16)}em,
    "content-max": #{$contentMaxWidth * 1.2},
    "max-cols": #{$tileMinWidth * ($tileMaxCols + 1)}
);


$extrusionFallback: 3rem;

// STYLES ////////////////////////////////////////////////

$border--soft: 1px solid #ddd;
$border--medium: 1px solid #7f7f7f;
$border--hard: 1px solid $black;
